header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;

  .top {
    box-sizing: border-box;
    padding: 16px 48px;
    background: linear-gradient(
      90deg,
      rgba(134, 64, 128, 1) 0%,
      rgba(58, 44, 131, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: space-between;

    .site-name {
      color: #fff;
    }

    .input {
      display: flex;
      align-items: center;
      gap: 16px;
      padding-left: 8px;
      height: 36px;
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid #866d8f;
      border-radius: 4px;
      color: #7f6c96;

      p {
        align-self: stretch;
        display: flex;
        align-items: center;
        border-left: 1px solid #866d8f;
        padding: 0 8px;
      }
    }

    .top-right {
      display: flex;
      align-items: center;
      gap: 16px;

      .btn {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 4px 16px;
      }
    }
  }

  .bottom {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    border-bottom: 2px solid #e2e2e1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;

    .bottom-left {
      display: flex;
      align-items: center;
      gap: 16px;

      h2 {
        font-weight: 600;
        color: #48464c;
      }

      .blue-btn {
        border: 2px solid #4268aa;
        border-radius: 4px;
        padding: 4px 16px;
        font-size: 14px;
        font-weight: 500;
        color: #4268aa;
        cursor: pointer;
      }
    }

    .bottom-right {
      display: flex;
      align-items: center;

      p {
        cursor: pointer;
        padding: 4px 16px;
        font-weight: 500;
      }

      .current {
        border: 2px solid #6d4096;
        color: #6d4096;
      }

      .disabled {
        color: #999899;
      }

      .enabled {
        color: #6d4096;
      }
    }
  }
}

main {
  box-sizing: border-box;
  width: 100%;
  padding: 24px 0;
  min-height: 760px;
  background-color: #f5f5f5;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 48px;

  .side,
  .content {
    box-sizing: border-box;
    padding: 24px;
    border-radius: 8px;
    background-color: #fff;
  }

  .side {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    h4 {
      font-weight: 500;
      color: #48464c;
    }

    p {
      cursor: pointer;
      color: #6d4096;
      font-weight: 500;
      font-size: 16px;
      padding: 4px 8px;
      border-left: 3px solid #fff;

      &.active {
        border-left: 3px solid #6d4096;
      }
    }
  }

  .content {
    box-sizing: border-box;
    width: 60%;

    h3 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 16px;
      font-weight: 600;
      color: #48464c;

      img {
        cursor: pointer;
      }
    }

    table {
      width: 100%;
      td {
        border-top: 1px solid #e5e5e5;
        color: #48464c;
        font-weight: 400;

        &.key {
          width: 30%;
        }

        &.value {
          width: 70%;

          .value-detail {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 12px 0;

            .link {
              cursor: pointer;
              font-weight: 500;
              color: #6d4096;
            }

            img {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
